.container{
    text-align: center;
    font-family: 'Kaisei Decol', serif;
}

h1{
    font-size: 30px;
    margin-top: 7rem;
}

.result{
    margin-top: 5rem;
}

a{
    position: absolute;
    margin: 10px 10px;
    bottom: 0;
    right: 0;
    font-size: px;
}

button{
    font-family: 'Kaisei Decol', serif;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 5rem;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    appearance: none;
}
